@import "../abstracts/variables";

.container-form {
  margin: 0 auto;
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 2em;
    margin-bottom: 50px;
    text-align: center;
  }

  span {
    font-weight: 600;
    color: $primary;
    text-align: center;
  }

  form {
    width: 380px;
    display: flex;
    flex-direction: column;

    p {

      label {
        font-size: 1.3em;
        margin-bottom: 10px;
      }

      input {
        margin-bottom: 10px;
        height: 40px;
        outline: none;
        border: 2px solid $primary;
        border-radius: 5px;
        padding: 5px;
        font-size: 1.1em;
      }

      button {
        margin-top: 20px;
        border: none;
        color: $white;
        font-size: 1em;
        height: 45px;
        cursor: pointer;
        font-weight: 600;

        &:disabled {
          background-color: $primary-light;
          color: $black;
        }
      }

    }

    p {
      display: flex;
      flex-direction: column;
    }
  }
}


