@import "../../../styles/abstracts/variables";
@import "../../../styles/abstracts/mixins";

footer {
  width: 100vw;
  height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  background-color: $primary-light;


  a {
    color: $primary;
  }
}

@include for-phone-only {
  footer {
    flex-direction: column;
    height: auto;
    padding: 10px;

    p {
      margin: 2px;
    }
  }
}