<header>
  <nav>
    <a class="logo" routerLink="">Bankr00t.</a>
    <ul *ngIf="!isLoggedIn">
      <li>
        <a routerLink="" routerLinkActive="is-active">Accueil</a>
        <a href="https://github.com/BourezBastien/BankRootFront" target="_blank">En savoir plus</a>
      </li>
    </ul>
    <ul *ngIf="isLoggedIn">
      <li>
        <a routerLink="/admin" routerLinkActive="is-active">Admin</a>
        <a routerLink="/client" routerLinkActive="is-active">Client</a>
      </li>
    </ul>
    <div class="nav-right">
      <a *ngIf="!isLoggedIn" routerLink="/login">Connexion</a>
      <a *ngIf="!isLoggedIn" class="button-primary" routerLink="/register">Ouvrir un compte</a>

      <a *ngIf="isLoggedIn" class="button-primary" style="color: white" (click)="logout()">Déconnexion</a>
    </div>
  </nav>
</header>