<section>
  <div class="table-container">
    <table>
      <thead>
      <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Email*</th>
        <th>Date de création</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of paginatedItems">
        <td>{{ item.name }}</td>
        <td>{{ item.lastname }}</td>
        <td>{{ item.mail }}</td>
        <td>{{ item.created_at | date:' hh:mm a - dd/MM/yyyy'}}</td>
      </tr>
      </tbody>
    </table>
    <div class="pagination">
      <button [disabled]="currentPage === 1" (click)="goToPage(currentPage - 1)"><</button>
      <button [disabled]="currentPage === totalPages" (click)="goToPage(currentPage + 1)">></button>
    </div>
  </div>

</section>