<app-header></app-header>
<section class="hero-banner-container">
  <div class="container-left">
    <h2>Bankr00t.</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing <br>elit, sed do eiusmod tempor incididunt ut labore.</p>
    <div class="container-left-button">
      <a routerLink="/login">Connexion</a>
      <a class="button-primary" routerLink="/register">Ouvrir un compte</a>
    </div>
  </div>
  <div class="container-right">
    <img src="../../assets/images/cards.png" alt="hero image">
  </div>
</section>
<app-footer></app-footer>