<section class="admin-cards">

  <a href="#">
    <div class="item">
      <div class="top">
        <i class="ri-bank-card-line"></i>
        <a href="#"><i class="ri-arrow-right-line"></i></a>
      </div>
      <div class="bottom">
        <h2>{{ DEPOSIT }}</h2>
        <p>Retrait(s) en attente</p>
      </div>
    </div>
  </a>

  <a href="#">
    <div class="item">
      <div class="top">
        <i class="ri-luggage-deposit-line"></i>
        <a href="#"><i class="ri-arrow-right-line"></i></a>
      </div>
      <div class="bottom">
        <h2>{{ WHITHDRAW }}</h2>
        <p>Dépot(s) en attente</p>
      </div>
    </div>
  </a>

  <a href="#">
    <div class="item">
      <div class="top">
        <i class="ri-user-follow-line"></i>
        <a href="#"><i class="ri-arrow-right-line"></i></a>
      </div>
      <div class="bottom">
        <h2>1</h2>
        <p>Ouverture de compte</p>
      </div>
    </div>
  </a>

  <a href="#">
    <div class="item">
      <div class="top">
        <i class="ri-user-unfollow-line"></i>
        <a href="#"><i class="ri-arrow-right-line"></i></a>
      </div>
      <div class="bottom">
        <h2>2</h2>
        <p>Supression de compte</p>
      </div>
    </div>
  </a>
</section>