<section class="admin-cards">
  <div class="item">
    <div class="top">
      <i class="ri-bank-card-line"></i>
      <a href="#"><i class="ri-arrow-right-line"></i></a>
    </div>
    <div class="bottom">
      <h2>{{ OVERDRAFT_LIMIT }}</h2>
      <p>Limite(s) de découvert</p>
    </div>
  </div>

  <div class="item">
    <div class="top">
      <i class="ri-luggage-deposit-line"></i>
      <a href="#"><i class="ri-arrow-right-line"></i></a>
    </div>
    <div class="bottom">
      <h2>{{ WITHDRAWAL_LIMIT }}</h2>
      <p>Limite(s) de retrait</p>
    </div>
  </div>

  <div class="item">
    <div class="top">
      <i class="ri-user-shared-line"></i>
      <a href="#"><i class="ri-arrow-right-line"></i></a>
    </div>
    <div class="bottom">
      <h2>{{ PAYMENT_CEILING }}</h2>
      <p>Limite(s) de paiement</p>
    </div>
  </div>


  <div class="item">
    <div class="top">
      <i class="ri-user-follow-line"></i>
      <a href="#"><i class="ri-arrow-right-line"></i></a>
    </div>
    <div class="bottom">
      <h2>1</h2>
      <p>Ouverture de compte</p>
    </div>
  </div>

  <div class="item">
    <div class="top">
      <i class="ri-user-unfollow-line"></i>
      <a href="#"><i class="ri-arrow-right-line"></i></a>
    </div>
    <div class="bottom">
      <h2>2</h2>
      <p>Supression de compte</p>
    </div>
  </div>
</section>