@import "../../../styles/abstracts/variables";


.admin-cards {
  margin: 70px auto;
  width: 75%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;

  .item {
    width: 260px;
    height: 220px;
    display: flex;
    flex-direction: column;
    background-color: $primary;
    border-radius: 5px;
    padding: 5px;

    .top {
      width: auto;
      height: auto;
      justify-content: space-between;
      align-items: center;
      display: flex;


      i {
        font-size: 1.5em;
        color: $white;
      }
    }

    .bottom {
      margin: auto auto;
      width: auto;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      h2 {
        font-size: 1.7em;
        font-weight: bold;
        margin-bottom: 8px;
        color: $white;
      }

      p {
        color: $primary-light;
        font-size: 1.1em;
      }
    }
  }
}

.table-container {
  overflow-x: auto;
  max-width: 100%;

  table {
    width: 75%;
    margin: 0 auto;
    border-collapse: collapse;

    th,
    td {
      text-align: left;
      padding: 8px;
      border: 1px solid #ddd;
    }

    th {
      background-color: #f2f2f2;
    }

    tr {
      text-align: center;

      &:nth-child(even) {
        background-color: #f2f2f2;
      }
    }

    @media only screen and (max-width: 600px) {
      th,
      td {
        display: block;
      }

      th {
        text-align: center;
        border: none;
        padding: 10px;
      }

      td {
        border: none;
        border-bottom: 1px solid #ddd;
        padding: 10px;
      }

      tr {
        border-bottom: 1px solid #ddd;

        &:last-child {
          border-bottom: none;
        }
      }
    }
  }
}

table {
  min-height: auto;
}

tbody {
  flex-grow: 1;

  tr {
    td {
      color: $black;
    }
  }
}

.pagination {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 80px;
  margin-bottom: 1rem;

  button {
    padding: 10px 20px;
    border-radius: 4px;
    margin: 5px;
    text-align: center;
    border: none;
    cursor: pointer;
  }
}

