@import "../../../styles/abstracts/variables";


.container-register {
  margin: 0 auto;
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 2em;
    margin-bottom: 50px;
  }

  span {
    font-weight: 600;
    color: $primary;
  }

  form {
    width: 20vw;
    display: flex;
    flex-direction: column;


    p {

      label {
        font-size: 1.3em;
        margin-bottom: 10px;
      }

      input {
        margin-bottom: 10px;
        height: 4vh;
        outline: none;
        border: 2px solid $primary;
        border-radius: 5px;
        padding: 5px;
      }

      button {
        margin-top: 20px;
        border: none;
        color: $white;
        font-size: 1em;
        height: 4vh;
        cursor: pointer;
        font-weight: 600;

        &:disabled {
          background-color: $primary-light;
          color: $black;
        }
      }

    }


    p {
      display: flex;
      flex-direction: column;
    }
  }
}