<section class="client-cards">

  <a href="#">
    <div class="item">
      <div class="top">
        <i class="ri-bank-card-line"></i>
      </div>
      <div class="bottom">
        <h2>Nouveau Dépôt</h2>
      </div>
    </div>
  </a>

  <a href="#">
    <div class="item">
      <div class="top">
        <i class="ri-luggage-deposit-line"></i>
      </div>
      <div class="bottom">
        <h2>Nouveau Retrait</h2>
      </div>
    </div>
  </a>


  <a href="#">
    <div class="item">
      <div class="top">
        <i class="ri-user-shared-line"></i>
      </div>
      <div class="bottom">
        <h2>Nouveau Virement</h2>
      </div>
    </div>
  </a>

  <a href="#">
    <div class="item">
      <div class="top">
        <i class="ri-add-circle-line"></i>
      </div>
      <div class="bottom">
        <h2>Nouveau compte</h2>
      </div>
    </div>
  </a>

  <a href="#">
    <div class="item">
      <div class="top">
        <i class="ri-question-line"></i>
      </div>
      <div class="bottom">
        <h2>Besoins d'aide ?</h2>
      </div>
    </div>
  </a>
</section>